Repository marcstreeter/nerdfestexposanantonio: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint:
  run: npm run lint

just dark
  src/layouts/MainLayout.astro
Due: format, lint

updating structure for volunteers
  src/components/ui/forms/BaseInput.tsx
  src/components/ui/forms/Checkbox.tsx
  src/components/ui/icons/Icon.tsx
  src/pages/index.astro
  src/pages/volunteer/ContactForm.tsx
  src/pages/volunteer/ContactIconBlock.astro
  src/pages/volunteer/ContactSection.astro
  src/pages/volunteer/ContactedIcon.tsx
  src/pages/volunteer/SelectedInput.tsx
  src/pages/volunteer/index.astro
  src/stores/uuid.ts
Due: format, lint

updated link temporarily
  src/pages/index.astro
Due: format, lint

added links
  src/components/sections/misc/FAQ.astro
  src/components/ui/blocks/AccordionItem.astro
  src/data_files/faqs.json
  src/utils/faqAnswer.ts
Due: format, lint

updated map
  src/images/building-map.avif
Due: none

updated events
  src/data_files/events-exhibits.json
  src/data_files/events-overall.json
Due: format

I want you to update the "Volunteer" button on the
  public/building-map.avif
  src/pages/index.astro
Due: format, lint

Path conditions:
  format: any of: *.{astro,ts,tsx,js,jsx,json,css,html,md,mdx,yaml,yml}
  lint: any of: *.{astro,ts,tsx,js,jsx}
